<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">IPT 2026</h3>
                </div>
                <div class="card-body">
                    <alert></alert>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>